<div class = "container-fluid" id = "aboutme">
  <%= render "public/navbar" %>
  <div class = "container" id = "blurb">
    <p>I'm Will Garden and I'm gay. Blah blah blah stuf stuff latin stuff modeling stuff. Pride stuff k okay stuff got it. I am badass. K same.</p>
  </div>
</div>