<div class = "container-fluid">
  <%= render "public/navbar" %>
  <div class = "writingMenu">
       <h2> Stories </h2>

    <div class = "writingThumb active">
      <h3>Title 1</h3>
      <p>Ward</p>
    </div>
    <div class = "writingThumb">
      <h3>Title 2</h3>
      <p>Ward Stuff</p>
    </div>
    <div class = "writingThumb">
      <h3>Title 3</h3>
      <p>Ward and Neighbors</p>
    </div>
  </div>
  <div class = "container writing">
  </div>
</div>